<footer id="footer">
    <div id="footer-flex">
    <div id="contact-flex" id="obj-cont">
        <div id="img-cont">
    <img src="../img/phone-call.png" id="phonecall" width="15px" height="15px"><p>Phone:+65 12345678</p><br>
</div>
<div id="img-cont">
    <img src="../img/pin.png" id="pin" width="15px" height="15px"><p>location:xxxxxxxx</p><br>
</div>
<div id="img-cont">
    <img src="../img/Mail.png" id="mail" width="15px" height="15px"><p>mail:IT_Hardware@gmail.com</p><br>
    </div>
</div>

<div id="copyright" id="obj-cont">
    <p>© Copyright 2021. All rights reserved to ITHardware.</p>
</div>

<div id="service" id="obj-cont">
    <p><u>Customer Service</u></p>
    <div id="service-cont">
        <a href="/contact" title="contact"><p>Contact Us</p></a><br>

    </div>
    <div id="service-cont">
        <a href="/helpadvice" title="helpadvice"><p>Help and advice</p></a><br>
    </div>
    <div id="service-cont">
        <a href="/returnpolicy" title="returnpolicy"><p>Return Policy</p></a><br>
</div>
    <div id="service-cont">
        <a href="/termscondition" title="termscondition"><p>Terms and condition</p></a>
</div>

</div>
</div>
</footer>