<header>
    <nav id="nav">
        <ul>
             <!-- <li>
                <a href="Home.html" title="Home">Home</a>
            </li> -->
            <li>
                <a href="/Home.ejs" title="Home">Home</a>
            </li>
            <li >
                <a href="/About.ejs" title="About">About</a>
            </li>
            <!-- <li class="dropdown">
                <a href="Items.html" class="dropbtn"  title="Items">Items</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
            </li> -->
            <li>
                <a href="/Items.ejs" title="Items">Items</a>
            </li>
                
            <li>
                <a href="/Contact.ejs" title="Contact">Contact</a>
            </li>
          
          
            <%if (!locals.session.loggedin) { %>
            <li>
                <a href="/register" title="Register">Register</a>
            </li>
                <li>
                    <a href="/login" title="Login">Login</a>
                </li>
                
                <% }else{ %>
                    <li>
                        <a href="/ViewAcct.ejs" title="ViewAcct">View Account</a>
                    </li>
                    <li >
                        <a href="/logout" class="logout" title="Logout">Logout</a>
                    </li> 
       
                    <%}%>
        </ul>
    </nav>
</header>