<!DOCTYPE html>
<html>

<head>
    <title>IT Hardware</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: white;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow-x: hidden;
        }


        ul {
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding-top: 30px;
            overflow: hidden;
            background-color:darkcyan;
            height: 80px;
            width: 100%;
            padding-right: 50px;

        }

        li {
            float: left;
            color: darkgoldenrod;
            margin-left: 100px;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: transparent;
            color: #CCAE93;
        }

        #banner {
            background-color:white;
        }

        #bannerlogo {
            text-align: center;
            padding: 40px 515px;
        }

        #case {
            background-color: #F1EAE8;
            padding: 16px;
        }

        #case h2,
        p {
            padding-left: 175px;
            width: 70%;
            color: #534745;
        }
        #cart {
            padding: 16px;
        }

        #About h2,
        p {
            padding-left: 175px;
            width: 70%;
            color: #534745;
        }

        #footer {
            background-color: darkcyan;
            margin-top: 10px;
            padding: 10px;
        }
        #footer p{
           color: white;
        }

        #contact {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            width: 100%;
            color: #CCAE93;
             padding-left: 10px; 

        }
     #copyright {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            width: 100%;
            color: #CCAE93;
            padding-top: 100px;
            padding-left: 150px;
        }
    
        #service {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            color: #CCAE93;
            padding-right: 150px; 
        }
     
        #footer-flex {
            display: flex;
        }

        #footer obj-cont {
            flex: 1;
        }
       
          #contact-flex p {
            padding-bottom: 10px;
            padding-left: 20px;
        }
        #footer img-cont {
            flex:1;
        }
      
     
    </style>


</head>

<body>
    <%- include('./partials/head'); %>

    <section>
    
    
        <div id="cart">
            <h2>Items in Cart - Checkout</h2>
            <form>
                <label for="subtotal">Sub Total:</label>
                <input type="text" id="subtotal" name="subtotal"  :value="total" disabled><br><br>
                <label for="deliveryfee">Delivery Fee:</label>
                <input type="text" id="deliveryfee" name="deliveryfee" :value="2" disabled><br><br>
                <label for="deliveryadd">Delivery Location:</label>
                <input type="text" id="deliveryadd" name="location" v-validate="'required'" v-model="order.delivery_address">
                <span class="txt-danger" v-if="errors.has('location')">{{ errors.first('location') }}</span>
                <br><br>
                <label for="payment">Payment Method:</label>
                <select name="payment_method" v-model="order.payment">
                    <option value="NETS">NETS</option>
                    <option value="DEBIT">Debit</option>
                </select><br><br>

                <label for="name_on_card">Name On Card:</label>
                <input type="text" id="name_on_card" name="name_on_card" v-validate="'required'">
                <span class="txt-danger" v-if="errors.has('name_on_card')">{{ errors.first('name_on_card') }}</span>
                <br><br>

                <label for="card_no">Card Number:</label>
                <input type="text" id="card_no" name="card_number" v-validate="'required'">
                <span class="txt-danger" v-if="errors.has('card_number')">{{ errors.first('card_number') }}</span>

                <br><br>

                <label for="expiry_date">Expiry Date (mm/dd):</label>
                <input type="text" id="expiry_date" name="expiry_date" v-validate="'required'">
                <span class="txt-danger" v-if="errors.has('expiry_date')">{{ errors.first('expiry_date') }}</span>

                <br><br>

                <label for="security_code">Security Code:</label>
                <input type="text" id="security_code" name="secuirty_code" v-validate="'required'">
                <span class="txt-danger" v-if="errors.has('secuirty_code')">{{ errors.first('secuirty_code') }}</span>
                <br><br>
                <button @click.prevent="onClickedPlaceOrder">Place Order</button>
               
            </form>
        </div>
    </section>
    <%- include('./partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@<3.0.0/dist/vee-validate.js"></script>
    <script src="js/cart.js"></script>
</body>

</html>