<!DOCTYPE html>
<html>

<head>
    <title>IT Hardware</title>
    <style>
        body {
            background-color: white;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow-x: hidden;
        }


        ul {
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding-top: 30px;
            overflow: hidden;
            background-color:darkcyan;
            height: 80px;
            width: 100%;
            padding-right: 50px;

        }

        li {
            float: left;
            color: darkgoldenrod;
            margin-left: 100px;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: transparent;
            color: #CCAE93;
        }

        #banner {
            background-color:white;
        }

        #bannerlogo {
            text-align: center;
            padding: 40px 515px;
        }

        #case {
            background-color: #F1EAE8;
            padding: 16px;
        }

        #case h2,
        p {
            padding-left: 175px;
            width: 70%;
            color: #534745;
        }
        #cart {
            padding: 16px;
        }

        #About h2,
        p {
            padding-left: 175px;
            width: 70%;
            color: #534745;
        }

        #footer {
            background-color: darkcyan;
            margin-top: 10px;
            padding: 10px;
            position:relative;
            bottom: 0;
            width: 100%;
        }
        #footer p{
           color: white;
        }

        #contact {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            width: 100%;
            color: #CCAE93;
             padding-left: 10px; 

        }
     #copyright {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            width: 100%;
            color: #CCAE93;
            padding-top: 100px;
            padding-left: 150px;
        }
 
        #service {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            color: #CCAE93;
            padding-right: 150px; 
        }
     
        #footer-flex {
            display: flex;
        }

        #footer obj-cont {
            flex: 1;
        }
 
          #contact-flex p {
            padding-bottom: 10px;
            padding-left: 20px;
        }
        #footer img-cont {
            flex:1;
        }
      
     
    </style>


</head>

<body>
    <%- include('./partials/head'); %>

    <section>
        <div id="placeorder">
            <h2 style="color:red;">Failed To Checkout</h2><br>
            <h3>Some items are no longer available!!</h3>
            <a href="/view-cart">Go Back To Cart</a>
        </div>
    </section>
    <%- include('./partials/footer'); %>
</body>

</html>