<!DOCTYPE html>
<html>

<head>
    <title>IT Hardware</title>
    <style>
        body {
            background-color: white;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow-x: hidden;
        }


        ul {
            text-align: center;
            list-style-type: none;
            margin: 0;
            padding-top: 30px;
            overflow: hidden;
            background-color:darkcyan;
            height: 80px;
            width: 100%;
            padding-right: 50px;

        }

        li {
            float: left;
            color: darkgoldenrod;
            margin-left: 100px;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: transparent;
            color: #CCAE93;
        }

        #banner {
            background-color:white;
        }

        #bannerlogo {
            text-align: center;
            padding: 40px 515px;
        }

        #case {
            background-color: #F1EAE8;
            padding: 16px;
        }

        #case h2,
        p {
            padding-left: 175px;
            width: 70%;
            color: #534745;
        }
        #About {
            padding: 16px;
        }

        #About h2,
        p {
            padding-left: 175px;
            width: 70%;
            color: #534745;
        }

        #footer {
            background-color: darkcyan;
            margin-top: 10px;
            padding: 10px;
            position:relative;
        }
        #footer p{
           color: white;
        }

        #contact {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            width: 100%;
            color: #CCAE93;
             padding-left: 10px; 

        }
     #copyright {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            width: 100%;
            color: #CCAE93;
            padding-top: 100px;
            padding-left: 150px;
        }

        #service {
            margin: 0;
            overflow: hidden;
            background-color: darkcyan;
            color: #CCAE93;
            padding-right: 150px; 
        }
     
        #footer-flex {
            display: flex;
        }

        #footer obj-cont {
            flex: 1;
        }

          #contact-flex p {
            padding-bottom: 10px;
            padding-left: 20px;
        }
        #footer img-cont {
            flex:1;
        }
     
    </style>


</head>

<body>
    <%- include('./partials/head'); %>

    <section>
    
    
        <div id="app" style="margin-left:120px;">
          
            <label for="search">Search Items:</label>
   
            <input type="text" id="desc" v-model="search_text" placeholder="Items" title="Type in a name" @keyup.enter="handleKeyUp">

            <img src="../img/search_icon.png" width="15px" height="15px" >
           

            
            <h4 v-show="message">{{message}}</h4>
            <table id="myTable" v-show="!message">
                <tr class="header">
                    <th>Items</th>
            
                    <th>Description</th>
                    <th>price</th>
                    <th>Add to Cart</th>
                </tr>
                <tr v-for="item in items">
                    <td><img :src="item.img_url" width="100px" height="100px" ></td>
                
                    <td>{{item.descriptions}}<br>Available Qty : <span style="color:blue;font-weight: bold;">{{item.available_qty}}</span></td>
                    <td>${{item.price}}</td>
                    <td>  
                        <button @click="onClickedAddToCard(item)" :disabled="+item.available_qty == 0"><img src="../img/cart.png" width="15px" height="15px" ></button>
                    </td>
                </tr>
                
            </table>



  
    
        </div>
    </section>
    <%- include('./partials/footer'); %>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@<3.0.0/dist/vee-validate.js"></script>
    <script src="js/item.js"></script>
</body>

</html>